* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.box {
    position: relative;
    width: 180px;
    height: 180px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1500px) rotateY(0deg);
    }

    100% {
        transform: perspective(1521px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) *36deg)) translateZ(320px);
}
@media only screen and (min-width:0px) and (max-width:450px) {
    .box{
        width: 100px;
        height: 100px;
    }
   .box span{ transform: rotateY(calc(var(--i) *36deg)) translateZ(165px);
}
}


.box span img {

    border-radius: 35%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}